body {
    background-color: hsl(214, 47%, 23%);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

#header {

    text-align: center;
    font-size: 50px;
    font-weight: 800;
    color: white;
    padding: 30px;
}

.container {
    display: flex;
    justify-content: center;

}

#score {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    background-color: whitesmoke;
    padding: 50px;
    border-radius: 20rem;

}

#span {
    padding-left: 20px;
    padding-right: 20px;
}

#result {
    text-align: center;
    color: white;
    padding: 30px;
    font-size: 30px;
    font-weight: 600;
}

#weapon {
    text-align: center;
    color: white;
    padding: 30px;
    font-size: 20px;
    font-weight: 600;
}

#choice {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}


#rock {
    display: flex;
    align-self: center;
    padding: 40px;
    background-color: white;
    border: 15px solid #dc2e4e;
    border-radius: 50%;
    cursor: pointer;
}

#paper {
    display: flex;
    align-self: center;
    padding: 40px;
    background-color: white;
    border: 15px solid blue;
    border-radius: 50%;
    cursor: pointer;
}

#scissors {
    display: flex;
    align-self: center;
    padding: 40px;
    background-color: white;
    border: 15px solid yellow;
    border-radius: 50%;
    cursor: pointer;
}

#final {
    text-align: center;
    color: white;
    padding: 30px;
    font-size: 30px;
    font-weight: 600;
}

#conclusion {
    padding: 30px;
    text-align: center;
    color: red;
    font-size: 35px;
    font-weight: 600;
}

#container2 {
    display: flex;
    justify-content: center;
}

.playAgain {
    display: flex;
    font-size: 20px;
    font-weight: 900;
    align-items: center;
    border-radius: 20rem;
    color: white;
    cursor: pointer
}